version: 1

dn: cn=ClusterAdmins,ou=Groups,{{getv "/dirsrv/suffix"}}
objectClass: groupOfUniqueNames
objectClass: top
cn: ClusterAdmins
description: The group of cluster adminstrators
uniqueMember: uid=admin,ou=People,{{getv "/dirsrv/suffix"}}

dn: uid=admin,ou=People,{{getv "/dirsrv/suffix"}}
objectClass: organizationalPerson
objectClass: person
objectClass: extensibleObject
objectClass: uidObject
objectClass: inetOrgPerson
objectClass: top
cn: OpenShift
sn: Admin
uid: admin
givenName: Cluster Admin
mail: admin@example.com
member: cn=ClusterAdmins,ou=groups,{{getv "/dirsrv/suffix"}}
mobile: 9900001101
ou: People
userPassword: password
# Prevent 'Administrative limit exceeded (11)' error
nsLookThroughLimit: -1
nsSizeLimit: -1
nsTimeLimit: -1
nsIdleTimeout: -1
